# Contentful runtime
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=

# Contentful type generation
CONTENTFUL_SPACE_ID=
CONTENTFUL_MANAGEMENT_TOKEN=

# Contact form email
EMAIL=
EMAIL_PASSWORD=

# Optional CV link override
CV_BUTTON_URL=
