@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.section-scroll::-webkit-scrollbar {
  width: 6px;
}



.section-scroll::-webkit-scrollbar-thumb {
  background: #3d3a4a;
  border-radius: 10px;
}

.green-light {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Efeito de luz no hover */
.green-light:hover {
  box-shadow: 0 0 5px rgba(158, 230, 85, 0.7), 0 0 10px rgba(158, 230, 85, 0.7), 0 0 15px rgba(158, 230, 85, 0.7);
}