@tailwind base;
@tailwind components;
@tailwind utilities;


/* scroll for the layout main sections */

.section-scroll::-webkit-scrollbar {
  width: 6px;
}


.section-scroll::-webkit-scrollbar-thumb {
  background-color: #141217;
  border-radius: 10px;
  transition: background-color 2s ease-in-out;
}

.section-scroll.scrolling::-webkit-scrollbar-thumb {
  background-color: #3d3a4a;
}

/* light effect in hero button */

.green-light {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.green-light:hover {
  box-shadow: 0 0 5px rgba(158, 230, 85, 0.7), 0 0 10px rgba(158, 230, 85, 0.7), 0 0 10px rgba(158, 230, 85, 0.7);
}


/* stack slider animation */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.stack-slider{
  animation: 25s slide infinite linear;
}
.stack-slider:hover{
  animation-play-state: paused;
}

.stack-slider-container:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 100%;
  background: linear-gradient(to left, transparent, #141217);
  content: "";
  z-index: 10;
}
.stack-slider-container:before,
.stack-slider-container:after{
  position: absolute;
  top: 0;
  width: 140px;
  height: 100%;
  content: "";
  z-index: 10;
}

.stack-slider-container:before{
  left: 0;
  background: linear-gradient(to left, transparent, #141217);

}
.stack-slider-container:after{
  right: 0;
  background: linear-gradient(to right, transparent, #141217);

}